<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <input id="accessToken" value="<%= accessToken %>" type="hidden">
    <input id="refreshToken" value="<%= refreshToken %>" type="hidden">
    <script>
        $(document).ready(function () {
            const accessToken = $('#accessToken').val();
            const refreshToken = $('#refreshToken').val();

            // Set cookies
            document.cookie = `accessToken=${accessToken}; path=/; SameSite=Lax; Secure`;
            document.cookie = `refreshToken=${refreshToken}; path=/; SameSite=Lax; Secure`;
            localStorage.setItem('accessToken', accessToken);
            localStorage.setItem('refreshToken', refreshToken);

            // Optionally redirect to another URL
            const redirectURL = `http://localhost:6969`;
            setTimeout(() => {
                window.location.href = `http://localhost:6969`;
            }, 1000); // 1 second delay

        });
    </script>
</body>

</html>